@using Microsoft.AspNetCore.Identity
@using System.Diagnostics.Eventing.Reader
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal.Account
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the Castle, @User.Identity.Name!</h1>
    </div>
}
else
{
   
    <div class="text-center">
        <h1 class="display-4">Welcome, who are you?</h1>
    </div>
}
<div class="text-center">
    <h1 class="display-4">TOP STREAMS!</h1>
</div>
@for (int i = 1; i <= 20; ++i)
{
    <video id="top_@i"></video>
}
