@using Microsoft.AspNetCore.Identity
@using System.Diagnostics.Eventing.Reader
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the Castle, @User.Identity.Name</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome, who are you?</h1>
    </div>
}
