@{
    ViewData["Title"] = "Profile";
}
<form class="float-right" asp-action="UploadVideo">
    <button class="btn btn-success" asp-action="UploadVideo">Upload video</button>
</form>
<h2>
    Your videos
</h2>
@for (int i = 0; i < 4; i++)
{
    <video id="video_@i"></video>
}